<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.80.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "\/"
    },
    "articleSection" : "",
    "name" : "Harmony of Tea and Coffee",
    "headline" : "Harmony of Tea and Coffee",
    "description" : "\u003cp\u003eI\u0026rsquo;ve been dividing my day into two parts recently: coffee AM and tea PM. Both have been giving me happiness recently, especially as the days get shorter and gray.\u003c\/p\u003e",
    "inLanguage" : "en-US",
    "author" : "taonaw.comJTR",
    "creator" : "taonaw.comJTR",
    "publisher": "taonaw.comJTR",
    "accountablePerson" : "taonaw.comJTR",
    "copyrightHolder" : "taonaw.comJTR",
    "copyrightYear" : "2021",
    "datePublished": "2021-11-15 00:00:00 -0500 EST",
    "dateModified" : "2021-11-15 00:00:00 -0500 EST",
    "url" : "\/2021-11-14\/",
    "wordCount" : "437",
    "keywords" : [ "life","Blog" ]
}
</script>

  
  <title>Harmony of Tea and Coffee &middot; The Art of Not Asking Why</title>

  
  <link type="text/css" rel="stylesheet" href="/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="/css/poole.css">
  <link type="text/css" rel="stylesheet" href="/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="/css/hyde.css">
  

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous|Oswald|Roboto|Ruda:400,400i,700">



 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

<a rel="me" href="https://mastodon.technology/@jtr"></a>  

</head>

  <body class=" ">
    <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><h1>The Art of Not Asking Why</h1></a>
    </div>
    <nav>
      <ul class="sidebar-nav">
	<h3>Frequent</h3>
	
	
	<li>
	  <a href="/tags/emacs"> emacs <small>(42)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/blogging"> blogging <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/life"> life <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/operations"> operations <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/tools"> tools <small>(26)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/privacy"> privacy <small>(25)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/security"> security <small>(10)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/games"> games <small>(8)</small></a>
	</li>
	
	
	
	
	
	
	<h4><a href="/tags/">All Topics ►</a></h4>
        
      </ul>
      <ul class="sidebar-nav">
	  <h3>About</h3>
	    <li>
	      <a href="//about">Author</a>
	    </li>
	    <li>
	      <a href="//taonaw">TAONAW</a>
	    </li>
      </ul>
      <ul class="sidebar-icons">
	<li>
	  <a href="http://taonaw.com/index.xml"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a>
	</li>
	<li>
	  <a rel="me" href="https://mastodon.technology/@jtr"><i class="fab fa-mastodon fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://keys.openpgp.org/search?q=+++++0F24+900D+C4F9+E91E+C791+9CC2+D6E4+55BF+45B7+14E9"><i class="fas fa-lock-open fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://twitter.com/james119847"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
	</li>
      </ul>
    </nav>
  </div>
</aside>




    <main class="content container">
      <div class="post">
  <h1>Harmony of Tea and Coffee</h1>
 <time datetime=2021-11-15T00:00:00-0500 class="post-date">2021-11-15 



    
    / <a href="/tags/life/"> life</a>
</time>
 <p>I&rsquo;ve been dividing my day into two parts recently: coffee AM and tea PM. Both have been giving me happiness recently, especially as the days get shorter and gray.</p>
<p><img src="images/2021-11-14.jpeg" alt="">
{{&lt; rawhtml &gt;}}
&lt;figcaption&gt;My espresso shot mug and tea infuser, side by side&lt;/figcaption&gt;
{{&lt; / rawhtml &gt;}}</p>
<p>The coffee ritual takes place around 06:00. I have three options to choose from: the regular &ldquo;American style&rdquo; drip coffee (Mr. Coffee), pour-over (Chemex), or espresso. I usually have two kinds of coffee beans: espresso roast and specialty coffee that I try out, usually with the Chemex.</p>
<p>Depending on how much time I have and what I had the previous day, I make a jug big enough for me and my two partners, so each one of us has at least one mug of beans juice. I usually don&rsquo;t add milk to pour-over coffee, as I like to taste it clean and appreciate the flavor. Later I will use the same coffee in the Mr. Coffee and add just a bit of milk (usually almond milk, rarely oat milk, never cow milk) to top it off and chill it a bit.</p>
<p>I used to drink more coffee at work, but after a co-worker decided to stop drinking coffee, I got us &ldquo;hooked&rdquo; on tea. I also &ldquo;blame&rdquo; <a href="https://alexschroeder.ch/wiki/">Alex Schroeder</a> for my re-newed love of green tea. I know a good store in Manhattan that sells high quality loose leaf tea, so I collect the money and get us all a large bag that would last for about six weeks. I make the trip downtown myself whenever I&rsquo;m out of supply of <a href="https://en.wikipedia.org/wiki/Longjing_tea">Lung Ching</a>, my favorite tea, to replenish my own stash.</p>
<p>Around 19:00 (that&rsquo;s 7 PM) my desire for a hot (never boiling) cup of green tea kicks in. I then sit in my armchair in my room, relax and concentrate on my breathing, halfway meditating, and go through most of the mug. This usually helps me re-focus my thoughts on writing in my journal, wiki, or for my blog.</p>
<p>My coffee and tea routines act as an anchor for my day. As time passes and I keep at it, these are two &ldquo;seeds&rdquo; in my day from which I can grow whatever branches of tasks and projects I want to do. It&rsquo;s a good way to evaluate time and do something nice for myself. Of course, I can&rsquo;t always have my coffee and tea. I tried to &ldquo;make up&rdquo; for those before by getting tea or coffee outside, but usually I end up disappointed. Besides, there&rsquo;s nothing quite as making a good cup of tea or coffee for yourself.</p>
<h2 id="footnotes">Footnotes</h2>
</div>

    </main>
  </body>
</html>
