<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.80.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "\/"
    },
    "articleSection" : "",
    "name" : "Of Responsibility to spread Knowledge",
    "headline" : "Of Responsibility to spread Knowledge",
    "description" : "\u003cp\u003eThe \u003ca href=\u0022https:\/\/emacsconf.org\/2021\/\u0022\u003eEmacs conference of 2021\u003c\/a\u003e is over, and I\u0026rsquo;m left with a bittersweet feeling. I wasn\u0026rsquo;t as interested as I thought I\u0026rsquo;d be in most of the talks, to be honest. On the other hand, there were a few talks that engaged me beyond what I expected.\u003c\/p\u003e",
    "inLanguage" : "en-US",
    "author" : "taonaw.comJTR",
    "creator" : "taonaw.comJTR",
    "publisher": "taonaw.comJTR",
    "accountablePerson" : "taonaw.comJTR",
    "copyrightHolder" : "taonaw.comJTR",
    "copyrightYear" : "2021",
    "datePublished": "2021-11-30 00:00:00 -0500 EST",
    "dateModified" : "2021-11-30 00:00:00 -0500 EST",
    "url" : "\/2021-11-28\/",
    "wordCount" : "931",
    "keywords" : [ "emacs","Blog" ]
}
</script>

  
  <title>Of Responsibility to spread Knowledge &middot; The Art of Not Asking Why</title>

  
  <link type="text/css" rel="stylesheet" href="/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="/css/poole.css">
  <link type="text/css" rel="stylesheet" href="/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="/css/hyde.css">
  

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous|Oswald|Roboto|Ruda:400,400i,700">



 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

<a rel="me" href="https://mastodon.technology/@jtr"></a>  

</head>

  <body class=" ">
    <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><h1>The Art of Not Asking Why</h1></a>
    </div>
    <nav>
      <ul class="sidebar-nav">
	<h3>Frequent</h3>
	
	
	<li>
	  <a href="/tags/emacs"> emacs <small>(42)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/blogging"> blogging <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/life"> life <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/operations"> operations <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/tools"> tools <small>(26)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/privacy"> privacy <small>(25)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/security"> security <small>(10)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/games"> games <small>(8)</small></a>
	</li>
	
	
	
	
	
	
	<h4><a href="/tags/">All Topics ►</a></h4>
        
      </ul>
      <ul class="sidebar-nav">
	  <h3>About</h3>
	    <li>
	      <a href="//about">Author</a>
	    </li>
	    <li>
	      <a href="//taonaw">TAONAW</a>
	    </li>
      </ul>
      <ul class="sidebar-icons">
	<li>
	  <a href="http://taonaw.com/index.xml"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a>
	</li>
	<li>
	  <a rel="me" href="https://mastodon.technology/@jtr"><i class="fab fa-mastodon fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://keys.openpgp.org/search?q=+++++0F24+900D+C4F9+E91E+C791+9CC2+D6E4+55BF+45B7+14E9"><i class="fas fa-lock-open fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://twitter.com/james119847"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
	</li>
      </ul>
    </nav>
  </div>
</aside>




    <main class="content container">
      <div class="post">
  <h1>Of Responsibility to spread Knowledge</h1>
 <time datetime=2021-11-30T00:00:00-0500 class="post-date">2021-11-30 



    
    / <a href="/tags/emacs/"> emacs</a>
</time>
 <p>The <a href="https://emacsconf.org/2021/">Emacs conference of 2021</a> is over, and I&rsquo;m left with a bittersweet feeling. I wasn&rsquo;t as interested as I thought I&rsquo;d be in most of the talks, to be honest. On the other hand, there were a few talks that engaged me beyond what I expected.</p>
<p><img src="images/2021-11-28.jpg" alt="">
{{&lt; rawhtml &gt;}}
&lt;figcaption&gt;My Emacs Mug, with hot tea sipping. The chipped logo is the reason it&rsquo;s label &ldquo;not dishwasher safe.&quot;&lt;/figcaption&gt;
{{&lt; / rawhtml &gt;}}</p>
<p>I&rsquo;ve repeated the notion that I&rsquo;m not a programmer many times on this blog. My journey into the world of Emacs did not begin staring at my screen over code; actually, it didn&rsquo;t start with a computer at all. It started with my <a href="https://helpdeskheadesk.net/orgzly-neven-interview/">Android phone and Orgzly</a>, before I even knew what org-mode was.</p>
<p>When I take a couple of steps back and look at myself today, writing this post inside Emacs and publishing to my Hugo using the <a href="https://ox-hugo.scripter.co/">ox-hugo</a> package and git<sup id="fnref:1"><a href="#fn:1" class="footnote-ref" role="doc-noteref">1</a></sup>, I think it&rsquo;s fair to say I&rsquo;ve learned more about computers since I picked up Emacs than I ever did before.</p>
<p>It&rsquo;s hard to say if Emacs gets <em>all</em> the credit. After all, I work in IT now, and my transition into this field came almost hand in hand with my transition into org-mode and Emacs. Emacs has been a guide, like a compass, in my technology quest. Emacs is what made Linux a constant in my life. As a person who spends a lot of time playing video games<sup id="fnref:2"><a href="#fn:2" class="footnote-ref" role="doc-noteref">2</a></sup>, this has been a challenge, but one that I was able to conquer <a href="https://helpdeskheadesk.net/2021-02-13/">earlier this year</a>. This is a good reminder that I&rsquo;m still learning.</p>
<p>While most of the talks in the conference were made by programmers and for programmers, there were a few that emphasized the philosophy of Emacs, the &ldquo;Emacs as a compass&rdquo; both technologically and morally. <a href="https://emacsconf.org/2021/talks/freedom/">Protesilaos (Prot)&rsquo;s  Stavrou Presentation</a> is an excellent example<sup id="fnref:3"><a href="#fn:3" class="footnote-ref" role="doc-noteref">3</a></sup> of this.</p>
<p>As a matter of fact, it was his presentation that made me understand that it&rsquo;s not just fun to talk about Emacs and spread the knowledge I&rsquo;ve gained, it&rsquo;s also my obligation. To share the &ldquo;how&rdquo;, not just the &ldquo;what.&rdquo; Because I am capable of explaining how, I <em>must</em> explain how so that I can keep spreading knowledge for the benefit of others. In turn, those people will become grateful, positive, forward-thinking individuals, who will contribute to the community. Because I can make the community better by sharing knowledge, it is my responsibility to make the community better by doing so. I could try to explain this further, but I can offer something better: listen to Prot&rsquo;s presentation yourself.</p>
<p>Listening to the talks in the background while playing <a href="https://en.wikipedia.org/wiki/Satisfactory">Satisfactory</a>, I felt myself gravitate toward the kind of technology that makes wonders like Emacs possible. One such thing is Git, which I already mentioned, something I&rsquo;ve been staying away from for years and finally started to conquer. Another is GPG and sending encrypted emails to other &ldquo;Emacs-like&rdquo; folks. IRC, as a mode of communication that survived the years, is another good example. These technologies are not exactly what one would call user-friendly, especially when compared to, say, Google Drive&rsquo;s built-in version history or Protonmail&rsquo;s encrypted emails, or Zoom/Teams/Slack.</p>
<p>We use these solutions at work with others even if we have the knowledge because we gave up the responsibility of sharing it. Our managers hide behind support contracts, used by &ldquo;technicians&rdquo; half a world away who read out of scripts. The name of game is to pass the buck, don&rsquo;t get sued, keep your job. Our food, significant others, doctors &ndash; the responsibility belongs to Grubhub, Tinder/OKCupid, health insurance companies. And they all come with &ldquo;customer support&rdquo; to help us, to make sure we&rsquo;re happy, so they can keep taking care of our most personal matters. We&rsquo;ve lost the responsibility for our own basic needs. When did this happen?</p>
<p>Emacs doesn&rsquo;t come with tech support, it comes with a manual. It&rsquo;s geared toward responsible individuals who can handle a computer without a babysitter. That&rsquo;s why Emacs is not just technology, it&rsquo;s a lifestyle. It&rsquo;s a proud discipline and a responsibility.</p>
<p>When we are responsible for ourselves, and in this case to our technology, we are no longer afraid of it. This is when we are in a position to share and give back to others who, in turn, will give back to us. Each one of the speakers at this conference is one such individual, and if you&rsquo;re reading these lines in agreement, so are you.</p>
<h2 id="footnotes">Footnotes</h2>
<section class="footnotes" role="doc-endnotes">
<hr>
<ol>
<li id="fn:1" role="doc-endnote">
<p>What of Magit? Surely it&rsquo;s one of the best tools Emacs has, why don&rsquo;t I use it? I explained <a href="https://helpdeskheadesk.net/2021-11-23/">a recent post</a> that I&rsquo;m &ldquo;going back to the basics&rdquo; and learning to use git from the command line. This has been helpful so far as I&rsquo;m wrapping my head around git and how not to be afraid of it anymore. <a href="#fnref:1" class="footnote-backref" role="doc-backlink">&#x21a9;&#xfe0e;</a></p>
</li>
<li id="fn:2" role="doc-endnote">
<p>The label &ldquo;Gamer&rdquo; doesn&rsquo;t ring true anymore. A gamer, in my mind, is someone who needs a beefy computer to play the latest AAA games. Someone who needs games to come first - and Linux is not for games first. That is not to say I don&rsquo;t play games anymore, the opposite is true, but I don&rsquo;t play them for the sake of gaming anymore and I stopped chasing the newest and greatest. <a href="#fnref:2" class="footnote-backref" role="doc-backlink">&#x21a9;&#xfe0e;</a></p>
</li>
<li id="fn:3" role="doc-endnote">
<p>There are more talks such as this, and I can&rsquo;t recall all of them, but there are two more I&rsquo;d like to mention while we&rsquo;re on this topic: <a href="https://emacsconf.org/2021/talks/frownies/">Case Duckworth&rsquo;s Anecdote of Emacs&rsquo;s Malleability</a> and <a href="https://emacsconf.org/2021/talks/forever/">David Wilson&rsquo;s M-x Forever: Why Emacs will outlast text editor trends</a>. <a href="#fnref:3" class="footnote-backref" role="doc-backlink">&#x21a9;&#xfe0e;</a></p>
</li>
</ol>
</section>
</div>

    </main>
  </body>
</html>
