/*
 *                        ___
 *                       /\_ \
 *  _____     ___     ___\//\ \      __
 * /\ '__`\  / __`\  / __`\\ \ \   /'__`\
 * \ \ \_\ \/\ \_\ \/\ \_\ \\_\ \_/\  __/
 *  \ \ ,__/\ \____/\ \____//\____\ \____\
 *   \ \ \/  \/___/  \/___/ \/____/\/____/
 *    \ \_\
 *     \/_/
 *
 * Designed, built, and released under MIT license by @mdo. Learn more at
 * https://github.com/poole/poole.
 */


/*
 * Contents
 *
 * Body resets
 * Custom type
 * Messages
 * Container
 * Masthead
 * Posts and pages
 * Pagination
 * Reverse layout
 * Themes
 */


/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
}
@media (min-width: 800px) {
  html {
    font-size: 20px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #515151;
  text-decoration: none;
  font-size: 1rem;
  font-family: Roboto, arial; 
  
}

/* The following define footnotes links. In order to work with the back link from the footnotes, we need to add footnoteReturnLinkContents = "[text here]" to config.toml*/


/* We need this so links in footnotes are not red... */
.footnote-ref a {
    color: #515151;
}


/* ...Only links at the end that takes us back should be red. This is the return text (that takes us back to the post) */

a.page-link {
  color: #8B0000;
  text-decoration: none;
  font-size: 1rem;
  font-family: Roboto, arial; 
}

a.footnotes {
  color: #8B0000;
  text-decoration: solid;
  text-decoration-thickness: from-font;
  text-decoration-color: #8B0000;
  font-size: 1rem;
  font-family: Roboto, arial; 
  
}

/* This adds space between the list items in the footnotes, to make them more clear */

.footnotes {
   font-family: Roboto, arial;
}
   .footnote[role] {
   color: #ac4142;        
   }

.footnotes li {
    margin: 0 0 1rem 0;
}

/* This is the anchor link. I have to use important because otherwise the general link takes over. */

a.footnote-ref {
  color: #ac4142 !important;
  text-decoration: none !important;  
  font-size: .6rem !important;
  line-height: 0rem !important;
}

a.footnote-backref {
  color: #ac4142 !important;
  text-decoration: none !important;
  font-weight: bold !important;
  font-size: 1rem !important;  

}

/* `:focus` is linked to `:hover` for basic accessibility */
/*  JRSS: I moved it because I think it looks better without. 
a:hover,
a:focus {
  text-decoration: underline;
}
*/
/* Headings */

/* If each element is different enough for it's own tag expention (below), then what's the point of having a generic "do this for all" block? Copy the one or two things that are different to each block, and have a better idea of where the CSS coming from later - JR 

  h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
  font-family: "Oswald", arial;
*/
}
h1 {
    font-size: 2.2rem;
    border-bottom-style: dotted;
    border-width: 2px;
    border-color: #eee8d5;
    margin-bottom: -.1rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.4rem;


}
h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}
h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}


div.liberapay {
    width: 10rem;
}

/* Body text */
p {
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-family: Roboto, arial; 
}


strong {
  color: #303030;
}


/* Lists */
ul, ol, dl, {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Roboto, arial; 
}

dt {
  font-weight: bold;
}
dd {
  margin-bottom: .5rem;
}

.posts li {
    text-transform: capitalize;
}

figcaption {
    margin-top: -1.5em;
    margin-left: .5em;
    font-size: .8em;
}


@media (max-width: 800px) {
    ul {
	padding-left: 0em;
    }
}

/* Misc */
hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}

/* Code */
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: .8rem;
  color: #8B0000;
  background-color: #eee;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: .5rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  color: #515151;
  background-color:#eee8d5;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 800px) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}


/*
 * Custom type
 *
 * Extend paragraphs with `.lead` for larger introductory text.
 */

.lead {
    font-size: 1rem;
    font-family: Roboto, arial;
    text-align: left;
    font-weight: bold;
    
}


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
  font-family: "Ruda", arial;
  font-size: .8rem;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #717171;
  background-color: #f9f9f9;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 70rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
.masthead-title a {
  color: #505050;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 4em;
  
}

.post p{
    font-size: 1rem;
}

.post p a{
    text-decoration: underline dashed;
    text-decoration-thickness: from-font;
    text-decoration-color: #8B0000;
    font-size: 1rem;
}

/* Here is the part for the lists in the posts */

.post li{
    display: list-item;
    color: #515151;
}

.post li a{
    text-decoration: dashed;
    text-decoration-thickness: from-font;
    text-decoration-color: #8B0000;

}


.post .read-more-link a {
    font-family: "Ruda";
    font-size: 1rem;
    text-decoration: none;
    color: #8B0000;
    
}

.post h1{
    font-family: "Ruda";
    text-decoration: none;
    border-bottom-style: dotted;
    border-bottom-color: #eee8d5;
    word-spacing: .3rem;
    font-size: 2em;
    line-height: .85em;
    margin-bottom: .1em;
    text-transform: capitalize;
}
    


/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
    font-family: "Ruda";
    text-decoration: none;
    word-spacing: .3rem;
    font-size: 1.7rem;
    line-height: 1.5rem;
}

.page-title,
.post-title {
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom-style: dotted;
    border-width: 2px;
    border-color: #eee8d5;
}


/* Meta data line below post title */
.post-date {
  display: block; 
  font-family: "Ruda";
  margin-top: -.1rem;
  margin-bottom: .8rem;
  color: #9a9a9a;
}

.post .post-date a{
  font-family: "Ruda";
  font-size: 1rem;
  text-decoration: underline;
  color: #8B0000;
}



/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: Robotone;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: Robotone;
}
.related-posts li a:hover small {
  color: inherit;
}

.dsq-brlink a {
    color: #515151;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are Roboto more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "Ruda", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 800px) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}
