<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.80.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "\/"
    },
    "articleSection" : "",
    "name" : "Let me Tell You About Assassin\u0027s Creed Odyssey",
    "headline" : "Let me Tell You About Assassin\u0027s Creed Odyssey",
    "description" : "\u003cp\u003eI haven\u0026rsquo;t written about a video game here in a while, and I\u0026rsquo;m not sure why. I still spend a lot of time in video games, some are worthy of mentioning. This time I want to talk about how Assassin\u0026rsquo;s Creed surprised me in a good way and why I think this game is worth playing.\u003c\/p\u003e",
    "inLanguage" : "en-US",
    "author" : "taonaw.comJTR",
    "creator" : "taonaw.comJTR",
    "publisher": "taonaw.comJTR",
    "accountablePerson" : "taonaw.comJTR",
    "copyrightHolder" : "taonaw.comJTR",
    "copyrightYear" : "2021",
    "datePublished": "2021-01-18 00:00:00 -0500 EST",
    "dateModified" : "2021-01-18 00:00:00 -0500 EST",
    "url" : "\/2021-01-15\/",
    "wordCount" : "739",
    "keywords" : [ "games","Blog" ]
}
</script>

  
  <title>Let me Tell You About Assassin&#39;s Creed Odyssey &middot; The Art of Not Asking Why</title>

  
  <link type="text/css" rel="stylesheet" href="/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="/css/poole.css">
  <link type="text/css" rel="stylesheet" href="/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="/css/hyde.css">
  

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous|Oswald|Roboto|Ruda:400,400i,700">



 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

<a rel="me" href="https://mastodon.technology/@jtr"></a>  

</head>

  <body class=" ">
    <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><h1>The Art of Not Asking Why</h1></a>
    </div>
    <nav>
      <ul class="sidebar-nav">
	<h3>Frequent</h3>
	
	
	<li>
	  <a href="/tags/emacs"> emacs <small>(42)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/blogging"> blogging <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/life"> life <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/operations"> operations <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/tools"> tools <small>(26)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/privacy"> privacy <small>(25)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/security"> security <small>(10)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/games"> games <small>(8)</small></a>
	</li>
	
	
	
	
	
	
	<h4><a href="/tags/">All Topics ►</a></h4>
        
      </ul>
      <ul class="sidebar-nav">
	  <h3>About</h3>
	    <li>
	      <a href="//about">Author</a>
	    </li>
	    <li>
	      <a href="//taonaw">TAONAW</a>
	    </li>
      </ul>
      <ul class="sidebar-icons">
	<li>
	  <a href="http://taonaw.com/index.xml"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a>
	</li>
	<li>
	  <a rel="me" href="https://mastodon.technology/@jtr"><i class="fab fa-mastodon fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://keys.openpgp.org/search?q=+++++0F24+900D+C4F9+E91E+C791+9CC2+D6E4+55BF+45B7+14E9"><i class="fas fa-lock-open fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://twitter.com/james119847"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
	</li>
      </ul>
    </nav>
  </div>
</aside>




    <main class="content container">
      <div class="post">
  <h1>Let me Tell You About Assassin&#39;s Creed Odyssey</h1>
 <time datetime=2021-01-18T00:00:00-0500 class="post-date">2021-01-18 



    
    / <a href="/tags/games/"> games</a>
</time>
 <p>I haven&rsquo;t written about a video game here in a while, and I&rsquo;m not sure why. I still spend a lot of time in video games, some are worthy of mentioning. This time I want to talk about how Assassin&rsquo;s Creed surprised me in a good way and why I think this game is worth playing.</p>
<p><img src="images/2021-01-15.jpg" alt="">
{{&lt; rawhtml &gt;}}
&lt;figcaption&gt;Actual in-game image. Your character can touch everything you see here!&lt;/figcaption&gt;
{{&lt; / rawhtml &gt;}}</p>
<p>I don&rsquo;t think there&rsquo;s much need to introduce <a href="https://en.wikipedia.org/wiki/Assassin's_Creed">Assassin&rsquo;s Creed</a>. The franchise, one of Ubisoft&rsquo;s main products, has been around since 2007. It&rsquo;s a AAA game that enjoys a Hollywood-size budget these days, and it shows (just look at the picture above, the game is from 2018)</p>
<p>Like many other AAA games, I approached it with caution. Especially after being slowly and continuously pained by <a href="https://en.wikipedia.org/wiki/Death_Stranding">Death Stranding</a><sup id="fnref:1"><a href="#fn:1" class="footnote-ref" role="doc-noteref">1</a></sup>, I don&rsquo;t have much faith in big game studios whose goals are to get you on their social networks and blast you with in-game purchases. It was probably this level of low expectations that contributed to the surprise of the quality of this game in unexpected places.</p>
<p>Assassin&rsquo;s Creed is beautiful. I took rides at night on my horse, watching the moonlight reflect on the waves of the sea, wolves were howling in the background. At other times I just stood at the top of a mountain, looking down at a Greek town with all of its historic features, grass softly moving in the wind at customized-boot-covered feet. The size of the world you play in is enormous, yet, every place has a slightly different feel to it, each character you talk to has a different face, the level of details is amazing. All of this running smoothly in ultra-level details on my aging 1060 GTX.</p>
<p>The immersive story was less expected, driven by Kassandra, the protagonist, voiced by <a href="https://www.imdb.com/name/nm3562015/">Melisanthi Mahut</a>. The voice acting, complete with the body language and even facial expression (oh, that raised eyebrow&hellip;) made me laugh several times and even shed a tear. It felt <em>good</em> to play such a kick-ass woman. Kassandra is not shy of flirting with other characters in the game either (women and men), and she does so from a position of power. Her caring for her friends and family (at least the way I play her) is touching and uplifting. It must be experienced to be appreciated. In general, the game is full of side missions and stories all made with great attention to detail. You could probably finish the game in two days playing the main mission, but in my opinion, those side missions are the cherry on the top. These missions are full of Greek mythology, comedy (and tragedy), and just overall further immersion in Kassandra&rsquo;s story.</p>
<p>I picked up this game for two reasons. I got myself a controller a few months ago, and I wanted to improve my muscle (fingers?) memory with a game that is meant to be played with a controller, and Assassin&rsquo;s Creed made sense. Once I saw several games in the series on sale for 15 dollars (the second reason), I picked up Odyssey since it&rsquo;s the first game in the story<sup id="fnref:2"><a href="#fn:2" class="footnote-ref" role="doc-noteref">2</a></sup>.</p>
<p>Overall, it probably doesn&rsquo;t come as a surprise that this is a good game if you like third-person action (controller recommended). But if you like a good story, especially Greek mythology-based, or if you were ever curious about Assassin&rsquo;s Creed in general, this is an excellent pick. For those of you gaming on Linux: I played this on Windows (my gaming machine), and it seems like there&rsquo;s no official Linux release, but the game should run well on Wine. Let me know if you tried it!</p>
<h2 id="footnotes">Footnotes</h2>
<section class="footnotes" role="doc-endnotes">
<hr>
<ol>
<li id="fn:1" role="doc-endnote">
<p>What was the problem there, you ask? The impossible amount of Facebook-influenced teenage-level &ldquo;likes&rdquo; (which connect you to other players outside the game) inside a post-apocalyptic world that otherwise has a great story for one. The cheesy all-American patriotic theme, for another. There&rsquo;s also the unforgivable in-your-face product placement, which fits like a giant zit on the face of a beautiful model. It feels like there was a good game in there somewhere, but they were sold out to the marketing department. <a href="#fnref:1" class="footnote-backref" role="doc-backlink">&#x21a9;&#xfe0e;</a></p>
</li>
<li id="fn:2" role="doc-endnote">
<p>Odyssey is not the first game in the franchise (this title belongs to <a href="https://en.wikipedia.org/wiki/Assassin%2527s_Creed_(video_game)">Assassin&rsquo;s Creed</a> (just Assassin&rsquo;s Creed) which came out in 2007. I&rsquo;m talking about Assassin&rsquo;s Creed timeline, where Odyssey is considered to be the first one. <a href="#fnref:2" class="footnote-backref" role="doc-backlink">&#x21a9;&#xfe0e;</a></p>
</li>
</ol>
</section>
</div>

    </main>
  </body>
</html>
