{{ partial "head.html" . }}
  <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    {{ partial "sidebar.html" . }}
    <main class="content container">
      {{ block "main" . -}}{{- end }}
    </main>
  </body>
</html>
