<aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="{{ .Site.BaseURL }}"><h1>{{.Site.Title}}</h1></a>
    </div>
    <nav>
      <ul class="sidebar-nav">
	<h3>Frequent</h3>
	{{ range $.Site.Taxonomies.tags.ByCount }}
	{{ if gt .Count 7 }}
	<li>
	  <a href="/tags/{{ .Name }}"> {{ .Name }} <small>({{ .Count }})</small></a>
	</li>
	{{ end }}
	{{end}}
	<h4><a href="/tags/">All Topics ►</a></h4>
        {{ range .Site.Menus.main -}}
          <li><a href="{{.URL}}"> {{ .Name }} </a></li>
         {{- end }}
      </ul>
      <ul class="sidebar-nav">
	  <h3>About</h3>
	    <li>
	      <a href="{{ .Site.BaseURL }}/about">Author</a>
	    </li>
	    <li>
	      <a href="{{ .Site.BaseURL }}/taonaw">TAONAW</a>
	    </li>
	    <li>
	      <a href="https://taonaw.gitlab.io/taonah/">Wiki</a>
	    </li>
      </ul>
      <ul class="sidebar-icons">
	<li>
	  <a href="http://taonaw.com/index.xml"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a>
	</li>
	<li>
	  <a rel="me" href="https://fosstodon.org/@jtr"><i class="fab fa-mastodon fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://keys.openpgp.org/search?q=+++++0F24+900D+C4F9+E91E+C791+9CC2+D6E4+55BF+45B7+14E9"><i class="fas fa-lock-open fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://twitter.com/james119847"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
	</li>
      </ul>
    </nav>
  </div>
</aside>



