{{ define "main" -}}
<div class="posts">
  {{ range .Paginator.Pages }}
    <article class="post">
      <h1 class="post-title">
	<a href="{{ .Permalink }}">{{ .Title }}</a>
      </h1>
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "2006-01-02" }}{{ partial "tags.html" .}}</time>
      <p>
	{{ .Summary }}
      </p>
  {{ if .Truncated }}
  <div class="read-more-link">
    <a href="{{ .RelPermalink }}">Read More <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
    </a>
  </div>
  {{ end }}
</article>
    {{- end }}
    {{ partial "pagination" .}}
</div>
{{- end }}
