<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
  <link href="//gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="generator" content="Hugo 0.80.0" />

  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "\/"
    },
    "articleSection" : "",
    "name" : "Gaming on Linux: Better Than Imagined",
    "headline" : "Gaming on Linux: Better Than Imagined",
    "description" : "\u003cp\u003eIt\u0026rsquo;s fair to say that my gaming experience on Linux is now better than it has been in Windows. There\u0026rsquo;s too much to cover in one post, so I hope to give a quick overview here and expand on specifics later if there\u0026rsquo;s interest.\u003c\/p\u003e",
    "inLanguage" : "en-US",
    "author" : "taonaw.comJTR",
    "creator" : "taonaw.comJTR",
    "publisher": "taonaw.comJTR",
    "accountablePerson" : "taonaw.comJTR",
    "copyrightHolder" : "taonaw.comJTR",
    "copyrightYear" : "2021",
    "datePublished": "2021-04-04 00:00:00 -0400 EDT",
    "dateModified" : "2021-04-04 00:00:00 -0400 EDT",
    "url" : "\/2021-03-30\/",
    "wordCount" : "532",
    "keywords" : [ "games","operations","Blog" ]
}
</script>

  
  <title>Gaming on Linux: Better Than Imagined &middot; The Art of Not Asking Why</title>

  
  <link type="text/css" rel="stylesheet" href="/css/print.css" media="print">
  <link type="text/css" rel="stylesheet" href="/css/poole.css">
  <link type="text/css" rel="stylesheet" href="/css/syntax.css">
  <link type="text/css" rel="stylesheet" href="/css/hyde.css">
  

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous|Oswald|Roboto|Ruda:400,400i,700">



 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/v4-shims.css">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/favicon.png">

<a rel="me" href="https://mastodon.technology/@jtr"></a>  

</head>

  <body class=" ">
    <aside class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/"><h1>The Art of Not Asking Why</h1></a>
    </div>
    <nav>
      <ul class="sidebar-nav">
	<h3>Frequent</h3>
	
	
	<li>
	  <a href="/tags/emacs"> emacs <small>(42)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/blogging"> blogging <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/life"> life <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/operations"> operations <small>(28)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/tools"> tools <small>(26)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/privacy"> privacy <small>(25)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/security"> security <small>(10)</small></a>
	</li>
	
	
	
	<li>
	  <a href="/tags/games"> games <small>(8)</small></a>
	</li>
	
	
	
	
	
	
	<h4><a href="/tags/">All Topics ►</a></h4>
        
      </ul>
      <ul class="sidebar-nav">
	  <h3>About</h3>
	    <li>
	      <a href="//about">Author</a>
	    </li>
	    <li>
	      <a href="//taonaw">TAONAW</a>
	    </li>
      </ul>
      <ul class="sidebar-icons">
	<li>
	  <a href="http://taonaw.com/index.xml"><i class="fa fa-rss-square fa-lg" aria-hidden="true"></i></a>
	</li>
	<li>
	  <a rel="me" href="https://mastodon.technology/@jtr"><i class="fab fa-mastodon fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://keys.openpgp.org/search?q=+++++0F24+900D+C4F9+E91E+C791+9CC2+D6E4+55BF+45B7+14E9"><i class="fas fa-lock-open fa-lg"></i></a>
	</li>
	<li>
	  <a href="https://twitter.com/james119847"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
	</li>
      </ul>
    </nav>
  </div>
</aside>




    <main class="content container">
      <div class="post">
  <h1>Gaming on Linux: Better Than Imagined</h1>
 <time datetime=2021-04-04T00:00:00-0400 class="post-date">2021-04-04 



    
    / <a href="/tags/games/"> games</a>
    / <a href="/tags/operations/"> operations</a>
</time>
 <p>It&rsquo;s fair to say that my gaming experience on Linux is now better than it has been in Windows. There&rsquo;s too much to cover in one post, so I hope to give a quick overview here and expand on specifics later if there&rsquo;s interest.</p>
<figure>
    
        <img src="/2021-03-30/images/2021-03-30.png"/> </figure>

<p>{{&lt; rawhtml &gt;}}
&lt;figcaption&gt;&lt;center&gt;My Game Library in Lutris&lt;/center&gt;&lt;/figcaption&gt;
{{&lt; / rawhtml &gt;}}</p>
<p>Back in mid-February, <a href="https://helpdeskheadesk.net/2021-02-13/">I switched back to Linux</a>. To recap, one of the main issues for me was games. Even though gaming on Linux gets better, I noted, many games, especially the greater and better from AAA studios, are not Officially supported. It&rsquo;s a vicious cycle: large studios who spend thousands of dollars on big-production games release it to consoles and gaming PCs, where most gamers are. Meanwhile, many gamers who consider Linux give it up before they even try because these games are not supported.</p>
<p>Well, To hell with official Linux support. Running Linux means you run things your way, gaming included. I can play games like Tomb Raider, <a href="https://en.wikipedia.org/wiki/Ghostrunner">Ghost Runner</a> and <a href="https://en.wikipedia.org/wiki/Nioh_2">Nioh 2</a>, none of which are designed to run under Linux, on my Linux desktop.</p>
<p>It gets better: These games run better on Linux than they did on Windows. Here&rsquo;s why:</p>
<ol>
<li>
<p>On Linux, each game is isolated in a &ldquo;sandbox&rdquo; which does not affect the system as a whole. Things like alt+tabing out of a game to check on game hints in Firefox in the background just to crashing the game (or the whole system) in the process is a thing of the past. If a game becomes responsive, all it takes is to bring up Lutris and close it or kill the game in the terminal in extreme cases.</p>
</li>
<li>
<p>In most cases, games run smoother (higher framerate) on Linux even on high settings. I believe this is because Linux as a whole is lighter without a hundred system applications running in the background.</p>
</li>
<li>
<p>All my games are in one place. Steam, Epic, locally-installed, all run from the same Window. I have control over where each game is installed and what configurations I want to run for it as well, which means games can benefit from a tailored system that can make them run best without affecting other programs.</p>
</li>
</ol>
<p>The magic that makes all of this happen starts with <a href="https://en.wikipedia.org/wiki/Wine_(software)">Wine</a>, which is a Windows-to-Linux &ldquo;translator.&rdquo; It takes a Windows executable, your &ldquo;game.exe&rdquo; file in Windows, and runs its components in a way that understands the Linux kernel. Wine is such a popular solution that Steam forked the project and created their own version, called <a href="https://en.wikipedia.org/wiki/Proton_(Compatibility_layer)">Proton</a>. If you&rsquo;re a gamer on Linux, you know you can run games this way since 2018 directly in the Linux Steam client without even opening a terminal window. Taking our earlier point into account, Steam did a lot for the Linux gaming scene because now gamers can play their favorite games without waiting on the studios to release a Linux-supported version.</p>
<p>This is a quick over-head view of what&rsquo;s going on. The idea is that games do not need to exist in a Linux version, Linux is able to &ldquo;translate&rdquo; Windows to them so they can play in their own container without affecting the rest of the system.</p>
</div>

    </main>
  </body>
</html>
